* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif, "Times New Roman", Times, serif;
    color: #5a5959;
}

body {
    background-color: #f5f5f5;
}

.logo-img img {
    width: 100%;
    height: 100%;
}

/* cards */

.card {
    background-color: white;
    display: flex;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    min-height: 275px;
    max-height: 280px;
}

/* nav bar */

#navbar {
    background-color: white;
    padding: 0;
    text-align: center;
}

#navbar #nav-items-container {
    margin: auto;
}

#navbar a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* content */

.content {
    margin: auto;
    text-align: center;
    padding: 2vh 19.1%;
}

.content h2 {
    padding: 7vh 0;
}

@media only screen and (max-width: 850px) {
    .card {
        max-height: fit-content;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        flex-direction: column;
    }

    .card div {
        width: 100%;
    }

}

/* introduction */

#introduction-content {
    padding: 60px 0px;
    display: flex;
    background-color: white;
}

#introduction-content div {
    margin: auto;
}

/* portfolio */

.project-logo {
    width: 60%;
    position: relative;
}

.website_link_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 75, 75, 0.5);
    -webkit-transition: visibility 0.15s, opacity 0.15s ease-out;
    -moz-transition: visibility 0.15s, opacity 0.15s ease-out;
    -ms-transition: visibility 0.15s, opacity 0.15s ease-out;
    -o-transition: visibility 0.15s, opacity 0.15s ease-out;
    transition: visibility 0.15s, opacity 0.15s ease-out;
    visibility: hidden;
    opacity: 0;
}

.project:hover .website_link_background {
    visibility: visible;
    opacity: 1;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: fit-content;
    margin: auto;
}

.website_link {
    background-color: white;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}

.website {
    text-decoration: none;
}

.website_link i {
    padding: 0 10px;
}

.github-project-link {
    color: inherit !important;
}

.project-content {
    padding: 0 2vw;
    width: 40%;
    text-align: left;
}

.project-content * {
    margin: 2vh 0;
}

/* experience */

.experience-logo {
    width: 40%;
}

.experience-content {
    padding: 0 2vw;
    width: 60%;
    text-align: left;
}

.experience-content * {
    margin: 2vh 0;
}

/* skills */

.skills-logo {
    width: 50%;
}

.skills-content {
    padding: 0 2vw;
    width: 50%;
    text-align: left;
}

.skills-content * {
    margin: 2vh 0;
}

/* about */

.about-logo {
    width: 40%;
}

.about-logo img {
    width: 100%;
    height: 100%;
}

.about-content {
    padding: 0 2vw;
    width: 60%;
    text-align: left;
}

.about-content * {
    margin: 2vh 0;
}

/* contact */

#contact p {
    padding: 3vh 0;
}

#contact a {
    text-decoration: none;
}

/* footer */

footer {
    background-color: #5a5959;
}

.footer-link, .footer-link a {
    color: white !important;
}

footer p {
    font-size: 30px;
    font-family: "fontello";
    padding: 2vh 0;
}

footer a {
    text-decoration: none;
}